#toast
    display none
.movie
    width 100%
    &-head
        width 100%
        height 40px
        line-height 40px
        background-color #1e2025
        color: #ffffff
        padding 0 10px
        box-sizing: border-box
        display: flex
        .iconfont
            width 16px
        .title
            flex: 1
            text-align center
    &-info 
        padding 10px
        background-color #1e2025
        &__desc
            width 100%
            display: flex
            .info-pic
                width 122px
                height 165px
                overflow hidden
                img 
                    width 100%
            .info-container
                flex: 1
                color: #9b9da2
                font-size 12px
                margin-left 10px
                .name
                    color: #ffffff
                    font-size: 24px
                    font-family Arial,sans-serif
                    font-weight normal
                .type
                    span 
                        width 40px
                        height 14px
                        display inline-block
                        background-image url(https://s0.meituan.net/bs/myfe/canary/file/asgard/images/movie/movie-tag-2DIMAX.png)
                        background-size cover
                        vertical-align: middle
                .btn-wrap
                    display flex
                    margin-top: 10px
                    .flex
                        flex: 1
                        background-color: #58575d
                        width 115px
                        height 30px
                        color: #fff
                        text-align center
                        border-radius 5px
                        line-height 30px
                        &:nth-child(2)
                            margin-left: 10px
                        .iconfont
                            font-size: 14px
                            margin-right 3px
        &__rate
            width 100%
            background-color #16151b
            height 100px
            border-radius 3px
            .rate-title
                margin-right 10px
                font-size: 0
                display: flex               
                &__left
                    flex: 1
                    color: white
                    font-size: 16px                   
                &__right                    
                    color: #69686e
                    font-size 14px
            .rate-detail
                margin 5px 15px 0 15px
                display: flex
                &__left
                    flex 1
                    display: flex
                    .grade    
                        flex: 1                    
                        color: #b7b6bc
                        font-size 12px
                        text-align: center
                        h2
                            color: #e5b313 
                            
                            font-size 20px
                    .star
                        flex: 2
                        
                        ul
                            list-style-type none
                            font-size: 0
                            .list
                                height 10px
                                flex-flow: row-reverse
                                .iconfont
                                    color #68676d
                                    font-size: 8px

                                .star-stage5
                                    margin-left 50px
                                    width 10px
                                    height 3px
                                    background-color #e5b313



                            


            